:root {
    --primary-color-desatured: hsl(0, 36%, 70%);
    --primary-color-soft: hsl(0, 93%, 68%);

    --neutral-color-dark: hsla(0, 6%, 24%);
    --neutral-color-picture: hsla(0, 6%, 24%, 0.222);
    
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(hsl(135deg, 0%, 100%), hsl(100%, 98%));
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'JosefinSans';
}

@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-Regular.ttf');
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}

.opacity-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--neutral-color-picture)
}

.right__container {
    display: flex;
    flex-grow: 4;
}

.left__container {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 62%;
    min-height: 100%;
    float: left;
    background-size: cover;
}

.left-content--container {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-left: 25%;
    margin-bottom: 5%;
}

.logo-base--apparel {
    width: 30%;
    padding-bottom: 20%;
}

.title {
    font-size: 72px;
    font-weight: 600;
    letter-spacing: 1.2rem;
}

.brown {
    color: var(--primary-color-desatured);
    font-weight: inherit;
}

.black {
    color: var(--neutral-color-dark);
}

.description {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color-desatured);
    padding-top: 20px;
    line-height: 30px;
}

.form {
    width: 50%;
    border-style: double;
    border-radius: 30px;
    border-color: var(--neutral-color-picture);
    height: 46px;
    border-width: 0.5px;
    outline: none;
    padding-left: 15px;
}

button {
    border-style: none;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    background-color: rgb(241, 151, 153);
    position: relative;
    right: 100px;
    color: white;
    font-size: 32px;
    cursor: pointer;
    box-shadow: 0px 9px 20px -4px rgb(241 151 153);
}

.input-button--container {
    display: flex;
    margin-top: 10px;
}

::placeholder {
    color: rgb(241, 151, 153, .4);
    font-size: 15px;
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-Regular.ttf');
}

.false-email {
    margin-top: 10px;
    margin-left: 15px;
    color: var(--primary-color-soft);
    font-size: 14px;
    display: none;
}

.invalid {
    border-color: red;
}


.icon-error {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 31%;
    padding-top: 12px;
    display: none;
}
